/* Main Part Style */

body {
    font-family: 'Raleway', sans-serif;
    background-color: #e8e8e8;
}

img {
    max-width: 100%;
}

.left {
    padding-left: 600px;
}


/* Logo Style */

#logo {
    font-size: 22px;
    color: #fd3a69;
}


/* Search area */

.search-area {
    margin-top: 20px;
}

.search-area input[type='text'] {
    background-color: #f8f7f5;
    padding: 12px;
    width: 220px;
    border: 0px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}

.search-area button {
    background: #F06C4E;
    ;
    border: 0px;
    padding: 12px;
    color: #fff;
    margin-left: -4px;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    cursor: pointer;
}


/* Search items area */

.food-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 50px;
}

.food-item {
    background-color: #f8f7f5;
    border-radius: 10px;
}

.food-item h4 {
    padding: 10px 0;
}


/* Details Result area */

#details-area {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000005d;
    display: none;
}

.item-details {
    background-color: #f4f9f9;
    width: 500px;
    padding: 30px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 20px 0px #0000005d;
}

.details-img {
    width: 300px;
    margin: 0 auto;
}

.details-img img {
    border-radius: 10px;
}

.check-icon {
    color: #fff;
    background-color: #f06c4e;
    padding: 1px 4px;
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 3px;
}

.item-details h2 {
    margin: 12px 0;
}

.item-details h4 {
    margin-bottom: 10px;
}

#mealDetailsInfo {
    width: 80%;
    height: 600px;
    background-color: #f1f6f9;
    margin-top: 140px;
    position: absolute;
    padding: 50px;
    left: 100px;
    top: 5px;
    border-radius: 5px;
}

.font-color {
    background-color: #F06C4E;
    color: white;
    padding: 4px;
}

#details-img {
    padding-top: 100px;
    border-radius: 10px;
}


/* Close button */

.close {
    padding: 4px 10px;
    font-size: 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background-color: #fff;
    border-radius: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f06c4e;
    font-weight: 600;
}

.closeBtnIcon {
    font-size: 20px;
    cursor: pointer;
    border: 0;
    outline: 0;
    border-radius: 0;
    background: #000;
    position: absolute;
    top: -3px;
    right: -50px;
    color: #f06c4e;
}

#emptyMessage {
    padding: 150px;
    display: none;
}

#notFoundMessage {
    padding: 150px;
    display: none;
}
